<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>認識 Vue.js 框架</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- 使用 Vue 一定要有一個區塊 -->
    <div id="app">
        <h1>一、認識 Vue 使用流程</h1>
        <p>
            <!-- 方便看 -->
            {{ firstText }} {{ firstText }}
        </p>

        <h1>二、使用 v-bind</h1>
        <p v-bind:class="textColor">這個段落的類別使用 Vue 的 v-bind 綁定</p>
        <div v-bind:class="textColor">這個區塊也是使用 v-bind</div>
        <div v-bind:style="{'font-size': fontSize + 'px'}">區塊元素，文字大小透過 Vue 的資料處理</div>
        <p :style="{'font-size': fontSize + 'px'}">這個段落文字也是透過 Vue 的資料處理</p>

        <h1>三、v-if 判斷是否顯示</h1>
        <!-- v-if 會重新渲染(刪掉再加回來)元素，增加資源使用，建議少用 -->
        <div class="btn" v-if="canBuy">加入購物車</div>
        <div class="btn" v-else="canBuy">商品已售完</div><br>
        <!-- v-show 當布林值 為 false 時會隱藏不會重新渲染 -->
        <div class="btn" v-show="canBuy">加入購物車 - show</div>

        <h1>四、v-for 迴圈</h1>
        <p>網頁前端工程師需要學會的技能</p>
        <ul>
            <li v-for="skill in web">{{ skill }}</li>
        </ul>

        <h1>五、v-on 事件</h1>
        <div class="btn" v-on:click="count++">點我</div>
        <h3>數字：{{ count }}</h3>
        <div class="btn" v-on:mouseover="count++">滑我</div>
        <h3>數字：{{ count }}</h3>
        <div class="btn" @click="count++">事件簡寫：點我</div>
        <h3>數字：{{ count }}</h3>
        <div class="btn" @click.once="count++">點擊一次事件</div>
        <h3>數字：{{ count }}</h3>
        <div class="btn" @click.right="count++">點擊右鍵事件</div>
        <h3>數字：{{ count }}</h3>

        <h1>六、Vue 方法(函式) function = method</h1>
        <div class="btn" @click="test">點擊後會呼叫測試方法</div>
        <div class="btn" @click="methodEvent">點擊後會獲得點擊事件的資料</div>
        <div class="btn" @click="getPoint($event)">點擊後會儲存座標</div>
        <p>點擊後的座標：{{ pointX }}, {{ pointY }}</p>

        <h1>七、v-model</h1>
        <p>將 HTML 的資料傳到 Vue 裡面儲存或應用</p>
        <input type="text" v-model="inputText">
        <p>{{ inputText }}</p>

        <h2>表單練習：待辦事項</h2>
        <!-- 送出表單事件 submit 添加 prevent 避免頁面刷新 -->
        <form action="" @:submit.prevent="addToDoList">
            <p>新增代辦事項：<input type="text" v-model="addToDo"></p>
            <button type="submit">添加待辦事項</button>
        </form>
        <ol>
            <li v-for="list in toDoList">{{ list }}</li>
        </ol>

        <h1>八、計算處理 computed</h1>
        <p>監聽資料的變化，當資料有變化時才會處理</p>
        <input type="checkbox" name="" id="" v-model="isCheck"> {{checked}}

    </div>

    <!-- 無安裝的元素無法使用 -->
    <div>
        {{ firstText }}
    </div>

    <!-- Vue.js 官網 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./srcipr.js"></script>
</body>
</html>