* {
    margin: 0;
    padding: 10px;
    font-family: 微軟正黑體;
    color: #fff;
}

body {
    background: #282626;
}

.gold {
    color: goldenrod;
}

.red {
    color: indianred;
}

.btn {
    background: goldenrod;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    /* color: #202020; */
}

input, form button {
    color: #202020;
    background: #fff;
}